<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Twitter Public Relation Checker</h1>
		<p>Enter your Twitter handle so I can search up to 4,000 of your tweets to find positive and negative words. Note, this will find curse words, so prepare yourself. Future features include asking if user would like to delete tweets with curse words, confirmation, and tweet deletion.<p>
		<center><form action="/" method="post">
			<input name="username" type="text" placeholder="username">
			<input type="submit" value="go!">
		</form></center>

		<script type="text/javascript">

		</script>

	</body>
</html>

