<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action="/" method="post">
			<input name="username" type="text" placeholder="username">
			<input type="submit" value="learn">
		</form>
	</body>
</html>

