<!DOCTYPE html>
<html>
	<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">	
				<h1><a href="/">Twitter Public Relation Checker</a></h1>
			</div>				
		</div>
		<div class="row">
			<div class="col-sm-6">
			<p>Enter your Twitter handle so I can search up to 4,000 of your tweets to find positive and negative words. Note, this will find curse words, so prepare yourself. Future features include asking if user would like to delete tweets with curse words, confirmation, and tweet deletion.</p>
			</div>
			<div class="col-sm-6">
				<center><form action="/results/" method="get">
				<input name="username" type="text" placeholder="username">
				<input type="submit" value="go!">
				</form></center>
			</div>
		</div>
	</div>
	</body>
	<footer>
	<div class="container">
		<hr>
		<a href="https://drewweth.herokuapp.com">Drew Wetherington</a>
	</div>
	</footer>
</html>

